.custom-box-about {
	&-message {
		padding: 10px 0 0 0;
	}
}

$color__twitter: #00aced;
$color__facebook: #3b5998;
$color__google: #dd4b39;
$color__instagram: #517fa4;
$color__pinterest: #cb2027;
$color__dribble: #ea4c89;

.custom-box-follow {
	&-item {
		display: inline-block;
		margin: 0 1px 1px 0;
		> a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: 45px;
			line-height: 45px;
			font-size: 26px;
			color: #fff;
			text-decoration: none;
			background: $color__link;
			text-align: center;
			&:hover,
			&:active,
			&:focus,
			&:visited {
				color: #fff;
			}
			&.item-facebook {
				background: $color__facebook;
				&:hover {
					background: darken($color__facebook, 10%);
				}
			}
			&.item-twitter {
				background: $color__twitter;
				&:hover {
					background: darken($color__twitter, 10%);
				}
			}
			&.item-google-plus {
				background: $color__google;
				&:hover {
					background: darken($color__google, 10%);
				}
			}
			&.item-instagram {
				background: $color__instagram;
				&:hover {
					background: darken($color__instagram, 10%);
				}
			}
			&.item-pinterest {
				background: $color__pinterest;
				&:hover {
					background: darken($color__pinterest, 10%);
				}
			}
			&.item-dribbble {
				background: $color__dribble;
				&:hover {
					background: darken($color__dribble, 10%);
				}
			}
		}
	}
}