.site-content {
	> .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.sticky {
	display: block;
}

.hentry:not(.elementor) {
	padding: 30px;
	background: #fff;
	margin: 0 0 30px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-header{
	padding: 30px 30px 25px 30px;
	border-bottom: 5px solid $color__link;
	margin: 0 0 30px 0;
	background: #fff;
	.page-title {
		padding: 0;
	}
	.taxonomy-description {
		color: #999;
		p {
			padding: 5px 0 0 0;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-content {
	background: #fff;
	padding: 30px;
	margin: 0 0 30px 0;
}

.entry-content {
	.is-loop.format-quote & {
		padding-left: 60px;
		position: relative;
		.quote-icon {
			font-size: 50px;
			line-height: 50px;
			position: absolute;
			left: 0;
			top: 0;
			color: $color__link;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	padding: 0 0 30px 0;
	&:after {
		clear: both;
		width: 100%;
		display: block;
		content: '';
	}
}

.entry-header-data {
	overflow: hidden;
	margin: 0;
}

.entry-title {
	padding: 3px 0 4px 0;
	a {
		color: $color__text-headings;
		text-decoration: none;
		&:hover {
			color: $color__link;
		}
	}
}

.entry-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 30px;
	background: $color__link;
	color: #fff;
	float: left;
	margin: 0 20px 0 -30px;
	@media (max-width: 480px) {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
	}
}

.entry-meta-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 9px 0 1px;
	a {
		color: $color__text-headings;
		text-decoration: none;
		&:hover {
			color: $color__link;
		}
	}
	i {
		display: inline-block;
		color: $color__text-headings;
		opacity: .4;
		margin: -2px 0 0 0;
		width: 15px;
		vertical-align: middle;
		@include font-size(1.1);
		line-height: 1;
		text-indent: 1px;
	}
}



.entry-thumbnail {
	margin: 0 -30px;
	overflow: hidden;
	clear: both;
	img {
		display: block;
	}
	+ .entry-content {
		padding: 30px 0 0 0;
	}
	.is-single > & {
		margin: -30px -30px 30px;
		+ .entry-content {
			padding: 40px 0 0 0;
		}
	}
}

.entry-thumbnail a,
.popup-gallery-item,
.image-popup {
	float: left;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	img {
		display: block;
	}
	&:before,
	&:after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 350ms, -webkit-transform 350ms;
		transition: opacity 350ms, transform 350ms;
		@media (max-width: 767px) {
			top: 15px;
			right: 15px;
			bottom: 15px;
			left: 15px;
		}
	}

	&:before {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
	}

	&:after {
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
	}
	.link-marker {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color__link;
		width: 88px;
		height: 88px;
		line-height: 88px;
		text-align: center;
		border: 16px solid rgba(255,255,255,.7);
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px 0 0 -60px;
		border-radius: 60px;
		font-size: 50px;
		color: #fff;
		opacity: 0;
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		box-sizing:content-box;
		-webkit-background-clip: content-box;
		-moz-background-clip: content-box;
		background-clip: content-box;
		-webkit-transition: all 350ms;
		transition: all 350ms;
		@media (max-width: 767px) {
			width: 60px;
			height: 60px;
			line-height: 60px;
			border-width: 10px;
			margin: -20px 0 0 -40px;
			border-radius: 40px;
			font-size: 35px;
		}
		&:before {
			content: '';
			display: block;
			width: 1em;
			height: 1em;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z'/%3E%3C/svg%3E");
		}
		&.popup {
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23fff'%3E%3Cpath d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'/%3E%3C/svg%3E");
			}
		}
	}
	&:hover {
		&:before,
		&:after {
			opacity: .8;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		.link-marker {
			color: #fff;
			opacity: 1;
			margin-top: -60px;
			@media (max-width: 767px) {
				margin-top: -40px;
			}
		}
	}
}

/* Sticky post */
.is-loop.sticky {
	.entry-header {
		position: relative;
		> * {
			position: relative;
			z-index: 2;
		}
		&:after {
			position: absolute;
			width: auto;
			top: -30px;
			right: -30px;
			bottom: 0;
			left: -30px;
			border: 5px solid $color__link;
			content: "";
			z-index: 1;
		}
		+ .entry-content {
			padding: 20px 0 0 0;
		}
	}
}

.left-sidebar {
	float: right !important;
}

.entry-footer {
	&:after {
		clear: both;
		width: 100%;
		display: block;
		content: "";
	}
	.is-single & {
		border-top: 1px solid $color__link;
		padding: 20px 0 0 0;
		margin: 10px 0 0 0;
	}
}
.etry-more-btn {
	float: right;
	margin: 0 -30px 0 0;
}

.entry-gallery {
	margin: 0 -30px;
	position: relative;
	+ .entry-content {
		padding-top: 30px;
	}
	&-item {
		margin: 0;
		position: relative;
		img {
			display: block;
		}
		&.nth-child {
			display: none;
			&.slick-slide {
				display: block;
			}
		}
	}
	&-prev,
	&-next {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		line-height: 48px;
		top: 50%;
		margin: -24px 0 0 0;
		background: $color__link-hover;
		color: #fff;
		font-size: 30px;
		cursor: pointer;
		text-align: center;
		transition: all 200ms ease-in;
		&:hover {
			background: $color__link;
		}
	}
	&-prev {
		left: 30px;
	}
	&-next {
		right: 30px;
	}
	&-caption {
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px;
		background: $color__slider-bg-banner;
		background: rgba( $color__slider-bg-banner, .7 );
	}
}

.entry-image {
	margin: 0 -30px;
	+ .entry-content {
		padding-top: 30px;
	}
	&:after {
		clear: both;
		width: 100%;
		display: block;
		content: "";
	}
	&-item {
		margin: 0;
		img {
			display: block;
		}
	}
}

.entry-video {
	margin: 0 -30px;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	+ .entry-content {
		padding-top: 30px;
	}
}

.error-404 {
	text-align: center;
	.page-content {
		background: none;
		padding: 0;
	}
	&-num {
		padding: 40px 0;
		font-size: 140px;
		line-height: 140px;
		color: $color__link;
		font-family: $font__logo;
	}

	.search-form {
		display: inline-block;
		padding: 30px 60px;
		margin: 0;
		background: #fff;
		@media (max-width: 500px) {
			padding: 20px;
			overflow: hidden;
			> label {
				width: 65%;
				float: left;
			}
			.search-submit {
				float: left;
				width: 35%;
			}
		}
		input {
			vertical-align: top;
		}
	}
}